@model IEnumerable<MVCProject.Models.authors>

@{
    ViewBag.Title = "Pubs作者維護";
}

<h2>作者一覽</h2>

<p>
    @Html.ActionLink("新增", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.au_lname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.au_fname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contract)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.au_lname
        </td>
        <td>
            @item.au_fname
        </td>
        <td>
            @item.contract
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.au_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.au_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.au_id })
        </td>
    </tr>
}

</table>
